/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/
/web/bundles/
/web/media

# IDE - PhpStorm
######################
.idea
.DS_Store

# IDE - SublimeText
######################
*.sublime-workspace
*.sublime-project